@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,100&display=swap");
@import "../node_modules/normalize.css/normalize.css";
h1 {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
